body {
    background-color: rgb(235, 220, 235);
    margin: 0 auto;
}

div {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    line-height: 0.6;
    padding-top: 20px;
    font-size: 48px;
    font-weight: 600;
    color: rgb(175, 109, 175);
}

.game-container {
    position: relative;
    width: 955px;
    margin: 0 auto;
}

.control-buttons {
    position: absolute;
    z-index: 5;
    left: 150px;
    top: 75px;
    width: 655px;
    display: flex;
    justify-content: space-between;
}

.control-buttons > div {
    width: 295px;
}

.restart-game {
    line-height: 45px;
    background-color: rgb(107, 76, 107);
    font-weight: 600;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease all;
    border: none;
}

.restart-game:hover {
    cursor: pointer;
    background-color: rgb(175, 109, 175);
}

.nav-links {
    border: 1px solid rgb(107, 76, 107);
    background-color: rgb(255, 239, 255);
    border-radius: 5px;
}

.nav-links > ul {
    list-style: none;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

li {
    padding: 0 8px;
    border-right: 1px solid gray;
}

li:last-child {
    border: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(107, 76, 107);
    transition: 0.3s ease all;
}

.nav-links a:hover {
    text-decoration: underline;
}